/* You can add global styles to this file, and also import other style files */

body{
    margin: 0 !important;
    width: 100%;
    overflow-x: hidden;
}

/*
input textbox css

font-size: 18px;
color: #becbd1;
font-family: "Museo Slab";


show all css

font-size: 18px;
color: #a9bec8;
font-family: "Museo Slab";
*/