header {
  width: 100%;
  color: #fff;
  height: 90vh;
  background-image: linear-gradient(-27deg, #fe6c00 0%, #b35400 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  #searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #searchBtn{
    height: 56px;
    width: 60px;
    font-size: 24px;
    background-color: #000;
    color: #fff;
    margin: 0;
    border-top-right-radius: 25px;
    float: right;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.inputSection {
  input[type=text] {
    width: 420px;
    height: 50px;
    background-color: #fff;
    outline: none !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: transparent;

  }

  ::placeholder {
    font-size: 18px;
    color: #becbd1;
    font-family: "Museo Slab";
  }
}

select {
  
  height: 56px;
  outline: none;
  border: none;
  background-color: #e2eef4;
  font-size: 14px;
  padding: 0.5em 3.5em 0.5em 1em;
  color: #a9bec8;
  font-family: "Museo Slab";

}

#gifImageSection {

  .imageContainer {
    width: 90%;
    margin: 5% 5%;
    float: left;

    img {
      float: left;
      margin: 0 1% 0%;
      width: 31%;
    }
  }
}

footer {
  width: 100%;
  float: left;
  background-color: #363b3e;
}

#formAndLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 80%;
  margin: auto;
  

  div {
    float: left;
    width: 100%;
  }

  #signupForm {
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;

    #signupEmail {
      padding: .3rem;
      width: 54%;
      border-radius: 6px;
      background-color: rgba(70, 74, 77, 0);
      border: 2px solid #4c5358;
      font-size: 16px;
      line-height: 30px;
      color: #6d767d;

    }
  }

  #categories {
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
      font-family: "Museo Slab";
      text-align: left;
      width: 100%;
      text-align: left;
    }

    #linkSection {
      .categoryLinks {
        width: 25%;
        float: left;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
        color: #8f989d;
        font-weight: 300;
        font-family: "Helvetica Neue";
        // border: 1px solid;
        margin: 0;
      }
    }
  }
}

#pageWithLinks {
  height: 20vh;
  background-color: #fff;
}
