header {
  width: 100%;
  color: #fff;
  height: 100vh;
  background-image: linear-gradient(-27deg, #fe6c00 0%, #b35400 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  #searchSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #searchBtn {
    height: 56px;
    width: 60px;
    cursor: pointer;
    font-size: 24px;
    background-color: #000;
    color: #fff;
    margin: 0;
    border-top-right-radius: 25px;
    float: right;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.inputSection {
  input[type=text] {
    width: 420px;
    height: 50px;
    background-color: #fff;
    outline: none !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-color: transparent;

  }

  ::placeholder {
    font-size: 18px;
    color: #becbd1;
    font-family: "Museo Slab";
  }
}

select {

  height: 56px;
  outline: none;
  border: none;
  background-color: #e2eef4;
  font-size: 14px;
  padding: 0.5em 3.5em 0.5em 1em;
  color: #a9bec8;
  font-family: "Museo Slab";

}

#gifImageSection {

  .imageContainer {
    width: 90%;
    margin: 5% 5%;
    float: left;

    img {
      float: left;
      margin: 0 1% 0%;
      width: 31%;
    }
  }

  .noData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

footer {
  width: 100%;
  float: left;
  background-color: #363b3e;
}

#formAndLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 80%;
  margin: auto;
  height: 70vh;

  div {
    float: left;
    width: 100%;
  }

  #signupForm {
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;


    h2 {
      text-align: left;
    }

    #signupBtn {
      width: 58%;
      outline: none;
      border: none;
      padding: .5rem;
      color: #fff;
      border-radius: 6px;
      background-color: #2c88b5;
      font-size: 21px;
      line-height: 30px;
      color: #ffffff;
      font-family: "Museo Slab";
      text-align: center;
      margin: 1rem 0 2rem 0;
    }

    #signupEmail {
      padding: .5rem;
      width: 54%;
      border-radius: 6px;
      background-color: rgba(70, 74, 77, 0);
      border: 2px solid #4c5358;
      font-size: 16px;
      line-height: 30px;
      color: #6d767d;

    }
  }

  #categories {
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
      font-family: "Museo Slab";
      text-align: left;
      width: 100%;
      text-align: left;
    }

    #linkSection {
      .categoryLinks {
        text-decoration: none;
        cursor: pointer;
        width: 25%;
        float: left;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
        color: #8f989d;
        font-weight: 300;
        font-family: "Helvetica Neue";
        // border: 1px solid;
        margin: 0;
      }
    }
  }
}

#pageWithLinks {
  height: 20vh;
  // width: 80%;
  // margin: auto;
  padding: 0 6%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid;

  .copyrightSection {
    flex: 1;
    display: flex;
    flex-direction: column;

    .footerLinks {
      a {
        float: left;
        font-size: 15px;
        color: #8a949a;
        font-family: "Museo Slab";
        text-decoration: none;
        padding: 0 .5rem;
      }
    }
  }

  .copyrightText {
    font-size: 15px;
    color: #b4bdc2;
    font-family: "Myriad Pro";
    padding-left: 0.5rem;
  }

  .socialLinkSection {
    flex: 1;
    color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .socialIcon {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #cfcfcf;
      background-color: rgba(252, 229, 130, 0);
      border: 2px solid #cfcfcf;
      margin: 0 .5rem;
      text-decoration: none;
    }
  }
}
